:host {
  display: block;
}

.log-viewport {
  background: black;
  border-radius: 0.5rem;
}

.log-viewport.log-viewport--full {
  height: 320px;
}

.log-viewport.log-viewport--compact {
  height: 256px;
}

.log-viewport .cdk-virtual-scroll-content-wrapper {
  padding: 0.75rem;
}
